body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

#toggle-motion {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}